/* src/styles/TutorsPage.css */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* !!! footer stick to the bottom: Make the wrapper take the full height of the viewport */
  } 



.imageGallery { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 45px;
  }
  


  .galleryBlock {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better appearance */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Clip overflowing content */
    text-align: center; /* Center text inside the block */
    background-color: #b19ef5; /* Light background color */
    padding: 10px; /* Add padding inside the block */ 
    width: 30%; /* put 3 items in a row + display: flex + flex-wrap: wrap */ 
    margin: 5px 15px 75px 15px; /* space between cards */
    padding: 20px 5px 5px 20px; 
    
  }
  

  .galleryBlock:hover {
    background-color: #8965ff; 
    transform: scale(1.05, 1.05); /* card bigger on hover */
  }



  .galleryBlock img {
    height: 250px;
    width: 320px;
    display: inline; /* images in the center of block */
    margin-bottom: 10px; /* Space between image and text */
  }
  
  .galleryBlock p {
    display: block;
    font-size: 1em; /* Set font size */ 
    background-color: rgb(234, 156, 250);;
    color: #2b2b2d; /* Text color */ 
    line-height: 1.5; 
    width: 300px; 
    margin: 5px 5px 5px 5px;
  }
  
  .galleryBlock section { 
    background-color: #b19ef5;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 15px 25px 15px 15px;
  }


  .galleryBlock section:hover {
    background-color: #8965ff;
  }

  
