/* src/styles/MainPage.css */ 


/* General styles */ 

html {
    scroll-behavior: smooth;
} 


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Main content should take all available space */
main {
    flex: 1;
    padding: 20px; /* Added padding for better spacing */
}



.content {
    margin: 0; 
}



.elementsToAppear {
    background-image: url('../../assets/images/background.jpg'); 
    background-repeat: no-repeat;
}



.firstToAppear {
    display: flex;
    padding: 25px 5px 45px 35px;
    width: 150px; 
    height: 15px;
    background-color: rgb(81, 196, 81); 
    border-radius: 15px; 
    border: 10px solid rgb(63, 157, 63);
    margin: 205px 5px 15px 1050px; 
    font-size: 25px;
}




.secondToAppear {
    display: flex;
    padding: 25px 5px 45px 35px; /* size of box */
    width: 150px; 
    height: 15px;
    background-color: rgb(247, 115, 238); 
    border-radius: 15px; /* rounded corners */
    border: 10px solid rgb(193, 90, 186);
    margin: -250px 5px 15px 1350px; /* location of box */
    font-size: 25px;
}


.video-container {
    margin-bottom: 0;
}



iframe.introductionVideo { 
    width: 100%; 
    height: 500px; 
    margin: 0;
    /* z-index: -1; - Ensure the video is behind the content  */
} 


.atSchool {
    /* background-image: linear-gradient(to right, rgb(43, 43, 250), rgb(214, 208, 250));  */ 
    /* background-image: url('../../assets/images/background.jpg');  */
    padding: 15px 1px 25px 1px; 
    height: 700px;
}


h3 {
    background-color: blue; 
    color: rgb(221, 221, 249); 
    /* margin: 10px 50px 10px 3px;  */
    width: 100%; 
    height: 35px; 
    text-align: center; 
    padding-top: 15px; 
    margin: 0;
    /* margin-top: 0; */

} 


h2 {
    text-align: center; 
    margin: 10px 50px 10px 540px;
}





.appears {
    opacity: 0; 
    transition: opacity 1200ms linear;
}




.content-container {
    background-color: #aee3f9; 
    padding: 35px 0 75px 5px; ;
}



.article-image {
    width: 250px; 
    height: 200px;
}



.article-cards {
    display: flex; 
    flex-direction: row; 
    width: 100%;
}


.article-card {
    margin: 45px 30px 90px 55px; 
    padding: 30px 35px 40px 35px; ;
    background-color: #4ab6e5; 
    width: 60%;
}




.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
    display: flex; 
  }
   */
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


  /* if text overflows, move it to the new line: display: inline-block; + word-wrap: break-word; */ 
  /* position: relative + right % + float: left/right - space between links and image */ 

  /* margin-right: 10px; -  Space between icon and text 
  display: inline-block; - Ensure the icon is inline with the text   */


  .activities {
    margin-top: 150px; 
    font-weight: bold;
    animation-delay: 0.9s; /* to appear after seconds */
  }

  .carousel {
    margin-top: -50px; 
    height: 800px; 
    overflow: visible; /* to show item text */ 
    position: relative;
  } 



  .carousel-list {
    position: absolute; 
    margin-top: 120px;
    width: 1140px; 
    max-width: 90%; 
    left: 50%; 
    transform: translateX(-50%); 
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
  }


  .carousel-item {
    position: absolute; /* first slide bigger than others */
    left: 0; 
    top: 0;
    width: 95%; /* width of not active slides */
    height: 100%;
  }



  .carousel-item-text {
    margin-top: 5px;
    font-size: 66px;
    font-weight: bold;
    color: #152497;
    text-align: center;
  }


  
  .carousel-item:nth-child(2) {
    transform: translate(0, 0); 
    filter: blur(0); 
    z-index: 10; 
    opacity: 1;
  }



  .carousel-item:nth-child(1) {
    transform: translate(-100%, -5%) scale(1.5); 
    filter: blur(30px); 
    z-index: 11; 
    opacity: 0; 
    pointer-events: none;
  }



  .carousel-item:nth-child(3) {
    transform: translate(50%, 10%) scale(0.8); 
    filter: blur(10px); 
    z-index: 9; 
    opacity: 1; 
    
  }



  .carousel-item:nth-child(4) {
    transform: translate(90%, 20%) scale(0.5); 
    filter: blur(30px); 
    z-index: 8; 
    opacity: 1; 
    
  }


  /* .arrows {
    position: absolute; 
    bottom: 10px;
    width: 1140px; 
    max-width: 90%; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }  */


  .arrows {
    display: flex;
    justify-content: space-evenly; /* arrows not far from each other */
    gap: 20px;
    margin-top: 365px;
  }
  
  .arrows button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
  }



.arrows #next, 
.arrows #prev {
    /* width: 40px;  */
    height: 40px; 
    border-radius: 50%; 
    font-family: monospace;
    font-size: large; 
    font-weight: bold; 
    border: 1px solid black;
} 



/* .arrows #back {
    font-weight: 500; 
    border: none; 
    border-bottom: 1px solid black; 
    letter-spacing: 3px; 
    background-color: transparent; 
    opacity: 0; 
    pointer-events: none;
} */