/* src/styles/MainPage.css */ 


/* General styles */ 

html {
    scroll-behavior: smooth;
} 


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Main content should take all available space */
main {
    flex: 1;
    padding: 20px; /* Added padding for better spacing */
}



.content {
    margin: 0;
}


.video-container {
    margin-bottom: 0;
}



iframe.introductionVideo { 
    width: 100%; 
    height: 500px; 
    margin: 0;
    /* z-index: -1; - Ensure the video is behind the content  */
} 


.atSchool {
    /* background-image: linear-gradient(to right, rgb(43, 43, 250), rgb(214, 208, 250));  */ 
    background-image: url('../../assets/images/background.jpg');
    padding: 15px 1px 25px 1px; 
    height: 700px;
}


h3 {
    background-color: blue; 
    color: rgb(221, 221, 249); 
    /* margin: 10px 50px 10px 3px;  */
    width: 100%; 
    height: 35px; 
    text-align: center; 
    padding-top: 15px; 
    margin: 0;
    /* margin-top: 0; */

} 


h2 {
    text-align: center; 
    margin: 10px 50px 10px 540px;
}

/* Navigation and article container */
.content-container {
    background-color: #aee3f9; 
    padding: 35px 0 75px 5px; ;
}



.article-image {
    width: 250px; 
    height: 200px;
}



.article-cards {
    display: flex; 
    flex-direction: row; 
    width: 100%;
}


.article-card {
    margin: 45px 30px 90px 55px; 
    padding: 30px 35px 40px 35px; ;
    background-color: #4ab6e5; 
    width: 60%;
}




.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
    display: flex; 
  }
   */
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


  /* if text overflows, move it to the new line: display: inline-block; + word-wrap: break-word; */ 
  /* position: relative + right % + float: left/right - space between links and image */ 

  /* margin-right: 10px; -  Space between icon and text 
  display: inline-block; - Ensure the icon is inline with the text   */