/* src/components/NavBar.css */
.navbar { 
     padding: 20px;
     background-color: #3a86f1; 
     width: 100%; 
     height: 55px; 
     margin: 1px 5px 5px 0; 
     padding: 0px 5px 5px 0px;
 
   } 
 
   nav ul { 
 
     list-style-type: none; /* Remove bullets */
     margin: 5px 5px 5px 5px; 
     padding: 15px 5px 10px 15px;
     display: flex; /* make nav links horizontal */ 
     justify-content: space-between; 
     
 
   }
   

  nav li:hover a {
    color: rgb(221, 221, 249); 
  }


 /* activeClassName is not supported in React Router v6 
 use NavLink instead of Link  */

 nav .active {
  color: rgb(221, 221, 249); 
  background-size: 30px;
  background-repeat: no-repeat; 
}

  
   /* margin-right: 50px;  space between navbar elements  */

   nav a {
     text-decoration: none; /* Remove underline from links */
     color: #232324; /* Link color */
     font-weight: bold; 
     text-align: center; 
     display: flex; /* Use flexbox to align icon and text */ 
     
   }  
 
 
   .fa-icon {
     margin-right: 10px; /* Space between icon and text */
     display: inline-block; /* Ensure the icon is inline with the text */
   } 
 
   
   