.footer {
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    padding: 10px;
    background-color: #4f75dc; 
    margin-top: auto; /* Pushes the footer to the bottom */ 
    width: 100%;

} 

.copyrights {
    text-align: center; 
    margin-left: 173px;
}