/* to scroll page smoothily */

html {
  scroll-behavior: smooth;
}


body {
  /* background-image: url('./assets/images/background.jpg'); */
  margin: 0; 
  padding: 0; 
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

/* styles for the whole project 
to have width of all div 100 % - ensure that all parent elements also have width: 100% */
div {
  margin: 0; 
  padding: 0; 
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
